<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /Sysapp/

    # Redireciona para index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
</IfModule># Desabilita listagem de diretórios
Options -Indexes

# Proteção de arquivos sensíveis
<FilesMatch "\.(htaccess|htpasswd|ini|log|sh|sql)$">
    Order Allow,Deny
    Deny from all
</FilesMatch>
